::selection {
  color: red;
  background: yellow;
}
a {
  text-decoration: none;
  color: blue;
}
.content {
  height: 150px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.main {
  display: flex;
  justify-content: center;
}
hr {
  width: 73%;
  margin-bottom: 50px;
}
.item1 > a {
  width: 60px;
  text-decoration: none;
  font-weight: bolder;
  color: red;
}
.haha {
  margin-top: 10px;
  margin-bottom: 2px;
  color: blue;
  font-weight: bolde;
  text-decoration: none;
}
#main {
  margin-top: 5px;
  height: auto;
}
.title {
  width: 750px;
  margin: 8px 0px;
  font-weight: bold;
  text-align: left;
}
.edit {
  width: 75px;
  font-weight: bolder;
  background-color: blue;
  border: none;
  border-radius: 6px;
  color: white;
  margin-right: 25px;
  height: 40px;
}
.two {
  width: 35px;
  height: 35px;
  background: black;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  color: white;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.one {
  display: none;
}
.delet {
  width: 75px;
  background-color: blue;
  border: none;
  border-radius: 6px;
  font-weight: bolder;
  color: white;
  height: 40px;
}
.body {
  width: 750px;
  margin: 10px 0px;
  text-align: left;
}
.today {
  display: none;
}
.edit:hover {
  cursor: pointer;
}
.delet:hover {
  cursor: pointer;
}